@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
	--fg: #6d423c;
	--bg: #f1ccaa;
	--bg2: #ece1c9;
	--blue: #b7e0d7;
	--red: #e08174;
}

* {
	box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
}

.wrapper {
	background-color: var(--bg2);
	margin: none;
}

.greeting {
	display: flex;
}

.greeting__profile-picture {
	max-width: 180px;
}

.greeting__text {
	margin-top: 30px;
}

.main-nav {
	background-color: var(--blue);
}

.main-nav__list {
	padding: 0;
	display: flex;
	justify-content: flex-start;
}

.main-nav__item {
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 600;
	list-style-type: none;
}

.main-nav__item:hover {
	background-color: var(--red);
}

.main-nav__link {
    padding: 20px;
    color: black;
	text-decoration: none;
}

.main-nav__link:visited {
	color: black;
}

.section-header {
    margin-top: 35px;
}

.header-box {
    margin-left: 20px;
    padding: 10px;
	background-color: var(--blue);
    border-radius: 10px;;
}

.header-box::before {
	content: "# ";
}

.description {
    display: flex;
    padding: 20px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.description p {
    padding: 10px;
    text-align: justify;
}

.tentang-saya__video {
	max-width: 100%;
    min-width: 50%;
}

.pengalaman-kerja__table {
    text-align: center;
	border: 2px solid;
}

.pengalaman-kerja__table td {
    padding: 10px;
}

.pengalaman-kerja__table th:nth-child(1) {
    width: 5%;
}

.pengalaman-kerja__table th {
	background-color: var(--blue);
}


.pengalaman-kerja__table tr:nth-child(even) {
    background-color: lightgrey;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
    background-color: var(--blue);
    padding: 40px;
    max-width: 540px;
    align-items: flex-start;
}

.input {
    width: 100%;
    max-width: 250px;
    padding-bottom: 10px;
}

.btn {
    background-color: var(--red);
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.form_name {
    width: 100%;
}

.form__checkbox {
    display: flex;
    align-items: center;
}

.form__textarea {
    min-width: 100%;
    min-height: 150px;
}

footer {
    text-align: center;
}